:root {
  // color primary
  --col-primary: hsl(223, 87%, 63%);
  --col-primary-hover: hsl(223, 56%, 53%);

  // color secondary
  --col-input: hsl(223, 100%, 88%);
  --col-error: hsl(354, 100%, 66%);

  // color neutral
  --col-text: hsl(0, 0%, 59%);
  --col-text-heading: hsl(209, 33%, 12%);
}
